
[data-theme="light"] {
    --white: #555;
--link-color: #0D4C92;
--header-bg: #3A8891;
--header-cl: #fafafa;
--nav-link: #fafafa;
--nav-ul-bg: #3A8891;
--nav-ul-bdr: 1px solid #2a676e;
--content-bg: #cfe9ea;
--footer-bg: #aaa;
--panel-bg: #cfe9eb;
--panel-even-bg: #c3e4e5;
--social-a: #444;
--social-a-hover: #3a8891;
--social-border: 1px dashed #444;
--toggle-bg: #cfe9ea;
--toggle-color: #706d6d;
--theme-toggle-input-checked-and-toggle-bg: #2e7178;
--theme-toggle-input-checked-and-toggle-cr: #fafafa;
--theme-toggle-input-focus-and-toggle-bx-shdw: 0 0 1px #2e7178;
--listing-title-h2-border-btm: 1px dashed #555;
--panel-listing-two-single-bg: #c2e4e4;
--panel-listing-two-single-bdr: 1px dashed #555;
--right-a: #2f4b7c;
--made-width-bg: #cfe9ea;
--made-width-bdr: 1px dashed #555;
--src-btn-bg: #cfe9ea;
--src-btn-cr: #555 !important;
--a-src-btn-hover: #a4dada;
--certification-bg: #cfe9ea;
--cert-left-img-bdr: 1px dashed #555;
--cert-a: #555;
--cert-a-hover-certification-bg: #a4dada;
--cert-a-hover-certification-after-bg: #c2e4e4;
--theme-switch-summary-bg-color: transparent;
--theme-switch-summary-bg-brd: 1px solid #1d4f55;
--theme-switch-ul-bg: #3A8891;
--theme-switch-ul-brd: 1px solid #2a676e;
--theme-switch-label-hover-bg: #317b83;
--theme-switch-label-span-brd: 1px solid #727272;

}

[data-theme="dark"] {
    --white: #fafafa;
--link-color: #6487ae;
--header-bg: #2d7179;
--header-cl: #fafafa;
--nav-link: #fafafa;
--nav-ul-bg: #2d7179;
--nav-ul-bdr: #1d4f55;
--content-bg: #1B3E41;
--footer-bg: #555;
--panel-bg: #1B3E41;
--panel-even-bg: #1F4648;
--social-a: #fafafa;
--social-a-hover: #2d7179;
--social-border: #fafafa;
--toggle-bg: #1B3E41;
--toggle-color: #fafafa;
--theme-toggle-input-checked-and-toggle-bg: #2e7178;
--theme-toggle-input-checked-and-toggle-cr: #fafafa;
--theme-toggle-input-focus-and-toggle-bx-shdw: #2e7178;
--listing-title-h2-border-btm: 1px dashed #fafafa;
--panel-listing-two-single-bg: #204848;
--panel-listing-two-single-bdr: 1px dashed #fafafa;
--right-a: #90B2D5;
--made-width-bg: #1B3E41;
--made-width-bdr: 1px dashed #fafafa;
--src-btn-bg: #cfe9ea;
--src-btn-cr: #555 !important;
--a-src-btn-hover: #a4dada;
--certification-bg: #1B3E41;
--cert-left-img-bdr: 1px dashed #fafafa;
--cert-a: #fafafa;
--cert-a-hover-certification-bg: #2d7179;
--cert-a-hover-certification-after-bg: #1f4648;
--theme-switch-summary-bg-color: #2D7179;
--theme-switch-summary-bg-brd: 1px solid #1d4f55;
--theme-switch-ul-bg: #2D7179;
--theme-switch-ul-brd: 1px solid #1d4f55;
--theme-switch-label-hover-bg: #286269;
--theme-switch-label-span-brd: 1px solid #727272;
}




body {
    color: var(--white) ;
  }

  a {
    color: var(--link-color) ;
  }

  header {
    background: var(--header-bg) ;
    color: var(--header-cl) ;
  }
  nav a{
  color: var(--nav-link) ;
  }
  nav ul li ul {
  background: var(--nav-ul-bg) ;
  border: var(--nav-ul-bdr) ;
}

#content {
  background: var(--content-bg) ;
}



.panel {

  background: var(--panel-bg) ;

}
.panel:nth-child(even) {
  background: var(--panel-even-bg) ;
}
.panel .social ul li a {
  color: var(--social-a) ;
}

.footer > .social a {
  color: var(--social-a) ;
}

.panel .social ul li a:hover {
  color: var(--social-a-hover) ;
}
.footer > .social a:hover {
  color: var(--social-a-hover) ;
}

.social {
  border: var(--social-border) ;
}
.toggle {
  background-color: var(--toggle-bg) ;
  color: var(--toggle-color) ;
}
.theme-toggle input:checked+.toggle {
  background-color: var(--theme-toggle-input-checked-and-toggle-bg) ;
  color: var(--theme-toggle-input-checked-and-toggle-cr) ;
}

.theme-toggle input:focus+.toggle {
  box-shadow: var(--theme-toggle-input-focus-and-toggle-bx-shdw) ;
}
.listing-title h2 {
  border-bottom: var(--listing-title-h2-border-btm) ;
}
.panel>.listing>.two-single {
  background: var(--panel-listing-two-single-bg) ;
  border: var(--panel-listing-two-single-bdr) ;
}
.right a {
  color: var(--right-a) ;
}
.made-with {
  background: var(--made-width-bg) ;
  border: var(--made-width-bdr) ;
}
.src-btn {
  background: var(--src-btn-bg) ;
  color: var(--src-btn-cr) ;
}

a.src-btn:hover {
  background: var(--a-src-btn-hover) ;
}
.certification {
  background: var(--certification-bg) ;
}
.cert-left img {
  border: var(--cert-left-img-bdr) ;
}

.cert a {
  color: var(--cert-a) ;
}

.cert a:hover>.certification {
  background: var(--cert-a-hover-certification-bg) ;
}

.cert a:hover>.certification::after {
  background: var(--cert-a-hover-certification-after-bg) ;
}

.theme-switch summary {
    background-color: var(--theme-switch-summary-bg-color) ;
    border: var(--theme-switch-summary-bg-brd) ;
}

.theme-switch summary input {
  color: #fafafa;
}

.theme-switch ul {

    background: var(--theme-switch-ul-bg) ;
    border: var(--theme-switch-ul-brd) ;
}

.theme-switch label:hover{
  background: var(--theme-switch-label-hover-bg) ;

}

.theme-switch label span {
  border: var(--theme-switch-label-span-brd)

}
